<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image Picker and Activity View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFEF54411C1829AF004F6C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFEF54551C1829AF004F6C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFEF54601C1829AF004F6C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
